<div class="container">
  <div class="row">
    <section class="col-12">
      <h1 class="d-flex justify-content-center align-items-center">Listagem de Autores</h1>
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          (useCache)="emitEvent($event)"
          [totalCount]="totalCount"
          [pageNumber]="autorParams.pageNumber"
          [pageSize]="autorParams.pageSize"
        ></app-paging-header>

        <div class="d-flex mt-2">
          <input
            (keyup.enter)="onSearch()"
            type="text"
            placeholder="Search"
            class="form-control me-2"
            #search
          />
          <button routerLink="/autores/cadastrar" class="btn btn-success mx-2">
            Adicionar
          </button>
          <button (click)="onSearch()" class="btn btn-outline-info mx-2">
            Buscar
          </button>
          <button (click)="onReset()" class="btn btn-outline-success mx-2">
            Limpar filtro
          </button>
        </div>
      </div>

      <app-autor-item
        (resetFormSubject)="onReload($event)"
        [autores]="autores"
      ></app-autor-item>

      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager
          [totalCount]="totalCount"
          [pageSize]="autorParams.pageSize"
          [pageNumber]="autorParams.pageNumber"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
