<table class="table mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody >
    <tr  *ngFor="let assunto of assuntos">
  <td>
    <p class="fw-bold mb-1">{{ assunto.codAs }}</p>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        style="width: 45px; height: 45px"
        class="rounded-circle"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">{{ assunto.descricao }}</p>
      </div>
    </div>
  </td>

  <td>
       <button routerLink="/assuntos/{{assunto.codAs}}" type="button" class="btn btn-link btn-sm btn-rounded">
      Atualizar
    </button>
    <button type="button" class="btn btn-link btn-sm btn-rounded">Remover</button>
  </td>

</tr>
</tbody>
</table>
